@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&family=Ovo&display=swap');

body {
    font-family: 'Nata Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ovo', serif !important;
}

.navbar {
    background-color: #09090b !important;
    color: #ffffff !important;
    position: static !important;
}

.navbar * {
    color: #ffffff !important;
    font-family: 'Nata Sans', serif !important;
    font-size: 1.5rem;
}

.hero {
    background-color: #09090b !important;
}

.hero * {
    color: #ffffff !important;
}

.hero-inner {
    max-width: 80rem !important;
}

.hero-text-wrapper {
    grid-column: span 8 / span 8 !important;
}

.hero-image-wrapper {
    grid-column: span 4 / span 4 !important;
}

.hero-image {
    width: 20rem !important;
    height: 20rem !important;
    border-radius: 100% !important;
    margin: auto !important;
}

@media (max-width: 1024px) {
    .hero-image {
        margin: 0 auto 5rem !important;
    }
}

.list-component {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem; 
}

@media (max-width: 640px) {
    .list-component {
        grid-template-columns: 1fr;
    }
}

.list-component-pagination {
    grid-column: 1 / -1;
}

.list-component-item-title {
    font-size: 2rem !important;
    line-height: 1 !important;
}
