@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&family=Ovo&display=swap');

body {
    font-family: 'Nata Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ovo', serif !important;
}

#navbar {
    background-color: #09090b !important;
    color: #ffffff !important;
    position: static !important;
}

#navbar * {
    color: #ffffff !important;
    font-family: 'Nata Sans', serif !important;
    font-size: 1.5rem;
}

#hero {
    background-color: #09090b !important;
}

#hero * {
    color: #ffffff !important;
}

#hero div:nth-child(1) {
    grid-column: span 8 / span 8 !important;
}
#hero div:nth-child(2) {
    grid-column: span 4 / span 4 !important;
}

#hero img {
    width: 20rem !important;
    height: 20rem !important;
    border-radius: 100% !important;
    margin: auto !important;
}

#hero div {
    max-width: 80rem !important;
}

@media (max-width: 1024px) {
    #hero img {
        margin: 0 auto 5rem !important;
    }
}

article section p:first-of-type ::first-letter {
    font-size: 4rem;
    padding: 6px 3px;
    margin-right: 6px;
    float: left;
}

#list-component {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem; 
}

@media (max-width: 640px) {
    #list-component {
        grid-template-columns: 1fr;
    }
}

#list-component nav {
    grid-column: 1 / -1;
}

#list-component article h3 {
    font-size: 2rem !important;
    line-height: 1 !important;
}
